@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-main: #06c167;
  --color-light: #f3fcf7;
  --color-100: #1d1d1f;
  --color-300: #545459;
  --color-800: #c5cec9;
  --color-paper: #ffffff;

  --size-3xs: 2px;
  --size-2xs: 4px;
  --size-xs: 6px;
  --size-sm: 8px;
  --size-md: 12px;
  --size-lg: 16px;
  --size-xl: 20px;
  --size-2xl: 24px;
  --size-3xl: 32px;
  --size-4xl: 40px;
  --size-5xl: 48px;
  --size-section: 96px;
}

html,
body {
  font-family: Mada;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* header */

header {
  padding: var(--size-5xl) var(--size-3xl);
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-3xl);
}

.menu {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: var(--size-xl);
}

.nav {
  display: flex;
  align-items: flex-start;
  gap: var(--size-4xl);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3xs);
}

.nav-item a {
  color: var(--color-100);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.active a {
  color: var(--color-main);
}

.active a:after {
  content: ".";
}

.header-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  gap: var(--size-3xl);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-5xl);
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-3xl);
}

.title-content h1 {
  color: var(--color-100);
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 80px;
}

.title-content p {
  color: var(--color-300);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.title-button {
  display: flex;
  padding: var(--size-lg) var(--size-3xl);
  justify-content: center;
  align-items: center;
  gap: var(--size-sm);
  border-radius: 41px;
  background-color: var(--color-main);
}

.title-button p {
  color: var(--color-paper);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}

.title-button div {
  height: 24px;
}

.brand-container {
  display: flex;
  align-items: center;
  gap: var(--size-4xl);
}

#deliveroo {
  height: var(--size-3xl);
}

#foodora {
  height: var(--size-2xl);
}

#uber-eat {
  height: var(--size-xl);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-section) var(--size-3xl);
  gap: var(--size-section);
}

.section-advantages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.advantage-item {
  display: flex;
  align-items: center;
  gap: var(--size-xl);
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border-radius: var(--size-md);
  background: var(--color-light);
}

.advantage-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-xs);
}

.advantage-content h3 {
  color: var(--color-100);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 24px;
}

.advantage-content p {
  color: var(--color-300);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 16px;
}

